# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/E-BookStore.Angular/dist

# dependencies
/E-BookStore.Angular/node_modules
/E-BookStore.Angular/package-lock.json

# IDEs and editors

# IDE - VSCode
.vscode/*

# IDE - VS
.vs/*

/E-BookStore.Api/obj/*


