@import "../../../core/scss/variables";
@import "../../../core/scss/mixins";

.book-details {
  .book-detail-section {
    img {
      height: 400px;
      width: 300px;
    }
    .detail-section {
      padding-left: 40px;
      .label {
        @include bs-font-style(normal, #6a6a6a, normal, 12px, 16px);
      }
      .content {
        @include bs-font-style(bold, $black, normal, 14px, 24px);
        letter-spacing: 0.15px;
      }
    }
  }
}
