/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./app/core/scss/mixins";
@import "./app/core/scss/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.heading {
  @include bs-font-style(normal, normal, $black, 34px, 36px);
}

.bs-hover {
  cursor: pointer;
}
