@import "../../core/scss/mixins";
@import "../../core/scss/variables";

.mat-card {
  padding: 20px 40px;
  min-width: 250px;
  max-width: 450px;
  mat-form-field {
    width: 100%;
  }
  img {
    width: 300px;
  }
  .authentication-text {
    @include bs-font-style(normal, $black, normal, 34px, 36px);
  }
}
